@font-face {
    font-family: 'caslon';
    src: url('../assets/type/CaslonGraphique.ttf') format('truetype');
    font-weight = normal;
    font-style = normal;
}

@font-face {
    font-family: 'Maria';
    src: url('../assets/type/maria-webfont-webfont.ttf');
    font-weight = normal;
    font-style = normal;
}

@font-face {
    font-family: 'Karla';
    src: url('../assets/type/Karla.ttf');
    font-weight = normal;
    font-style = normal;
}

@font-face {
    font-family: 'Fakt';
    src: url('../assets/type/Fakt-Normal.otf');
    font-weight = normal;
    font-style = normal;
}

/*ELEMENTS*/
a {
    font-family: Fakt;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    background-color: #cdcdcd;
}
body {
    margin: 0;
    padding: 0;
    /*background-color: #d3ebf1;*/
    background-color: #cdcdcd;
}

div {
    padding: 15px;
}

form {
    font-family: Fakt;
    font-size: 20px;
    display: flex;
}

h1 {
    font-family: caslon;
    font-size: 75px;
    font-weight: normal;
    line-height: 65px;
    padding: 0;
    margin: 0;
}

img {
    width: 100px;
    height: 100px;
}

input {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #cdcdcd;
    background-color: #cdcdcd;
}

input:focus {
    background-color: #00FFFF;
    border: 2px solid #00FFFF;
    outline-width: 0;
}

p {
    font-family: Fakt;
    font-size: 17px;  
    padding: 0;
    margin: 3px;
}

span {
    font-family: Fakt;
    font-size: 20px;  
    margin: 3px;
    padding: 1px 3px 1px 3px;
    display: inline-block;
    vertical-align: middle;
    background-color: #cdcdcd;
}

/*IDs*/
#back-card-internal{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#blurb {
    font-family: Fakt;
    font-size: 19px;
    color: #000000;
    background-color: #FFFFFF;
}

#blue {
    background-color: #00FFFF;
    opacity: 0.5;
}

#cmy {
    background-image: url("../assets/imgs/cmy-waves.png");
    background-size: 50px 50px;
}
#lbtn {
    background-image: url("../assets/imgs/sea-grad.png");
    background-size: 35px 35px;
    opacity: 0.5;
}

#face {
    width: 260px;
    height: 260px;
    margin: auto;
    margin-top: 5px;
}

#hi {
    /*margin-top: -130px;*/
    margin: -63px auto;
    font-size: 50px;
    color: #FFFFFF;
    /*color: #000000;*/
    /*-webkit-text-stroke: 1px white;*/
}

#msg-field {
    display: none;
    width: 120px;
    background-color: #00FFFF;
    border: 2px solid #00FFFF;
}
#name-1 {
    z-index = 0;
    color: #FFFF00;
}
#name-2 {
    z-index = 1;
    color: #FF00FF;
}
#name-3 {
    z-index = 2;
    color: #00FFFF;
}

#top-card {
    border: 2px solid black;
    background-color: #FFFFFF;
    width: 270px;
    height: 340px;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -135px;
    cursor: move;
}

#back-card {
    background-image: url("../assets/imgs/cmy-waves.png");
    background-size: 300px 300px;
    border: 2px solid black;
    background-color: #FFFFFF;
    width: 270px;
    height: 340px;
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -190px 0 0 -125px;
}

#square-button {
    border: 2px solid #00FFFF;
    margin: 3px;
    width: 30px;
    background: url("../assets/imgs/plane.png") no-repeat;
    background-size: 26px;
    background-position: center;
    display: none;
}

#wip-text {
    font-size: 12px;
    position: absolute;
    width: 70px;
    top: 430px;
    left: 400px;
    display: none;
}


/*CLASSES*/

.another-container{
    /*position: fixed;*/
    /*margin: auto;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card-child{
    padding: 0;
    margin: 0;
}

.card-child-bottom{
    padding: 0;
    margin-bottom: 15px;
}

.circle-container {
    display: flex;
    padding: 0;
    margin: 0;
}

.circle {
    background-color: #cdcdcd;
    height: 2px;
    width: 2px;
    border-radius: 50%;
    margin-left: -5.5px;
    margin-bottom: 14px;
    transform: scale(0.5, 0.5);
    cursor: pointer;
}

.clickable {
    cursor: pointer;
    /*font-size: 20px;*/
}
.horiz-bounce {
    position: absolute;
}
.index {
    text-decoration: underline;
}

.name {
    z-index: 2;
    opacity: .2;
    color: #00FFFF;
    cursor: move;    
    height: 125px;
    width: 320px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -260px 0 0 -230px;
}

.translucent {
    opacity: .9;
}

.stroke {
    -webkit-text-stroke: 2px black;
}
.submission {
    font-size: 20px;
    font-family: Fakt;
    margin: 3px;
    padding: 1px 3px -2px 3px;
    display: inline-block;
    vertical-align: middle;
}

/*MINOR CLASSES*/
.span-C {
    background-color: #00FFFF;
}
.a-white {
    background-color: #FFFFFF;
}
.span-M {
    background-color: #FF00FF;
}
.span-Y {
    background-color: #FFFF00;
}
/*WEIRD WEBKIT STUFF*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000000;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000000;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000000;
}
:-moz-placeholder { /* Firefox 18- */
  color: #000000;
}