body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family: 'Karla', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
nav2 ul {
    position: absolute;
    right: 0px;
    font-family: 'Karla', sans-serif;
    padding: 0px;
    list-style: none;
}
nav2 ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    color: #999;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
a:hover {
    color: #78d7ff;
}
h1 {
    font-size: 3em;
    font-family: 'Muli', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}
h2 {
    font-size: 2em;
    font-family: 'Muli', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}
p {
    /*font-size: 1.5em;*/
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
    /*line-height: 1.4em;*/
    line-height: 20px;
    color: #333;
}
footer {
    /*border-top: 1px solid #d5d5d5;*/
    font-size: 1.5em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
