@font-face {
  font-family: Pixel;
  src: url("../assets/type/Mondwest-Regular.otf");
}

@font-face {
  font-family: Union;
  src: url("../assets/type/union_regular.otf");
}

/*cursor*/
body, html {
  cursor: url("../assets/imgs/blue-cursor.png") 25 15, auto;
  height: 100%;
}

a:link {
  cursor: url("../assets/imgs/blue-cursor.png") 25 15, pointer;
}


a:hover {
  cursor: url("../assets/imgs/red-cursor.png") 25 15, pointer;
}


body {
	margin: 0;
  font-family: Union;
  font-size: 22pt;
  background-image: url("../assets/imgs/blob2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: -500% -80%;
}

body.maps-page {
  padding-top: 10vh;
  padding-left: 10vw;
  overflow: hidden;
}

a {
	color: #000000;
  font-family: Union;
  font-size: 16pt;
}

a:hover {
  font-family: Pixel;
}

h1 {
  font-weight: normal;
  font-family: Pixel;
  color: #FFFFFF;
  margin-top: 50px;
  padding: 0;
  font-size: 15vw;
  line-height: 0.8;
  margin-bottom: 70px;
}

header {
  padding-bottom: 20px;
  position: fixed;
  top: 0;
}

iframe {
  z-index: 1;
  border: 0;
  position: fixed;
  top: -5em;
  left: 0;
  width: 100%;
  height: calc(100% + 20em);
  filter: grayscale(1);
}

li {
  font-size: 14pt;
  margin-bottom: 2px;
}

p {
  margin: -5px 0;
}

span {
  position: relative;
  padding-bottom: 0;
  font-family: Union;
  color: #FFFFFF;
  font-size: 22pt;
}

ul {
  list-style-type: none;
  padding: 0;
}

.about {
  font-family: Union;
  font-size: 16pt;
  margin: 50px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.about p {
  margin-bottom: 20px;
  width: 50vw;
}

.about a {
  font-size: 3vw;
  text-decoration: none;
}

.about a:hover {
  font-family: Pixel;
}

a.home {
  font-family: Union;
  color: black;
  text-decoration: none;
  font-size: 50pt;
  margin: 10px;
}

.navlink {
  font-family: Union;
  font-size: 14pt;
  color: #FFFFFF;
}

a.navlink:hover {
  font-family: Pixel;
  font-size: 16pt;  
}

.over {
  width: 50vw;
  overflow: visible;
  position: relative;
  color: #FFFFFF;
  z-index: 1000;
}

.portfolio {
  height: 700px;
}

.portfolio-container {
  display: flex;
  margin-left: 20px;
  margin-top: 12vh;
  padding-right: 10vw;
}

.portfolio-caption {
  margin-left: 45px; 
  margin-top: -30px;
  margin-bottom: 30px;
  font-family: Union;
  font-size: 16pt;
}

.portfolio-caption a:hover {
  font-family: Pixel;
  font-size: 18pt;
}

.tiny {
  font-size: 8pt;
  margin-top: 35px;
}

#headshot {
  max-width: 25vw;
  height: auto;
  margin-right: 20px;
  margin-bottom: 5vh;
}

/*RESPONSIVE*/
@media (max-width: 800px) {

/*INDEX*/

/*ABOUT*/
  .about {
    flex-direction: column;
    margin-top: 12vh;
  }
  .about a {
    font-size: 6vw;
  }
  .about p {
  margin-bottom: 20px;
  width: 60vw;
}
  #headshot {
    max-width: 50vw;
  }

/*PORTFOLIO*/
  .portfolio-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }

  .portfolio {
    max-width: 90vw;
    height: auto;
    margin-bottom: 15px;
  }

/*  .portfolio-caption a {
    font-size: 5vw;
    line-height: 0.6;
  }

  .portfolio-caption a:hover {
    font-size: 5vw;
    line-height: 0.6;
  }*/

}