::-webkit-scrollbar { display: none; }

body {
	width: 70vw;
	margin: 0 auto;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	display: grid;
	grid-template-columns: [col-1-start] 60% [col-1-end col-2-start] auto [col-2-end];
	grid-auto-rows: min-content;
}

button p {
	margin: 0;
}

footer {
	display: flex;
	padding-top: 30px;
	border-top: solid 6px #ED1C24;
	margin-top: 30px;
	margin-bottom: 40px;
	align-items: center;
}

footer, header, h2, nav, p, .bio-container, .publications, .map, .single-col-layout {
	grid-column-start: col-1-start;
	grid-column-end: col-2-end;
}

header {
	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	margin: 10px 0;
  	padding: 0;
}

h2 {
	margin-bottom: 15px;
}

h3 {
	margin-top: 25px;
	margin-bottom: 0px;
}

div.publications h3 {
	margin-top: 45px;
}

img {
	max-width: 100%;
}

nav {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	border-top: 2px solid #ED1C24;
	border-bottom: 2px solid #ED1C24;
	padding: 20px 0;
}

p {
	word-break: break-word;
	overflow-wrap: break-word;
	word-wrap: break-word;
	line-height: 140%;
	margin: 15px 0;
}

p a {
	text-decoration: underline;
}

p a:hover {
	color: #ED1C24;
	text-decoration: none;
}

span {
    position: relative;
    padding-bottom: 5px;
    margin: 0;
}

span:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    content: '';
    border-bottom: 2px solid #ED1C24;
}

.bio-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 15px 0 30px 0;
}

.bio {
	display: flex;
	flex-direction: column;
	margin-right: 20px;
	font-size: 14px;
	line-height: 150%;
	width: 150px;
}

.button-show {
	display: block;
	-webkit-animation: 0.4s slideUp 1;
	-moz-animation: 0.4s slideUp 1;
	-o-animation: 0.4s slideUp 1;
	animation: 0.4s slideUp 1
}

span.dot:after {
	border-bottom: none;
}

.ft-link {
	margin-right: 20px;
	font-size: 10pt;
}

.nav-link, a {
	text-decoration: none;
	color: black;
}

.nav-link a:hover {
	color: #ED1C24;
}

.image_off, header:hover .image_on{
   display:none
}

.image_on, header:hover .image_off{
   display:block
}

.img-bio {
	height: 150px;
	width: 150px;
	margin: 0;
}

.img-facilities {
	width: 100%;
	margin-bottom: 20px;
}

.img-stereo {
	margin: 13px;
	height: 247px;
}

.indented {
	margin: 0 35px;
}

.intro {
	grid-column-start: col-1-start;
	grid-column-end: col-1-end;
}

.map {
	justify-self: center;
	width: 100%;
	height: 400px;
}

.nav-fixed {
	top: 0;
	z-index: 100;
	position: fixed;
	background-color: #FFFFFF;
	width: inherit;
	margin-top: 0;
}

.news {
	grid-column-start: col-2-start;
	grid-column-end: col-2-end;
	padding-left: 50px;
	position: relative;
}

.news-content {
	overflow-y: scroll;
	max-height: 350px;
	padding-bottom: 30px;
}

.news-content p {
	margin-top: 0;
}

.outline {
	border: 1px solid #ED1C24;
	padding: 20px;
	margin-bottom: 30px;
	background: rgba(255, 255, 255, .7);
}

.para-first {
	margin-top: 0;
}

.para-last {
	margin-bottom: 0;
}

.scroll-fade {
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 50px;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */*/
}

.space-bottom {
	margin-bottom: 40px;
}

.stereo {
	display: flex;
	justify-content: center;
}

.subtitle {
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 13px;
}

.video-inset {
	height: 200px;
}

#alumni p {
	margin: 5px 0;
}

#bio-pi {
	display: flex;
	margin: 15px 0 30px 0;
}
#bio-pi div {
	margin: 0 0 0 20px;
}
#bio-pi h3 {
	margin-top: 0;
}

#clps {
	max-height: 30px; 
}

#corner-logo {
    position: fixed;
    z-index: -3;
    opacity: 0.3;
    right: -20px;
    bottom: -75px;
    width: 30%;
}

#crest {
	max-height: 100px;
}

#first {
	margin-top: 0px;
}

#logo {
	max-height: 220px;
}

#nav-placeholder {
	display: none;
	opacity: 0;
}

#scroll-button {
	display: none;
	width: 40px;
	height: 40px; 
	position: fixed;
	z-index: 10;
	right: 15px;
	bottom: 15px;
	background-color: #ED1C24;
	color: #FFFFFF;
	font-size: 20px;
	border: 0;
	display: flex;
	justify-content: center;
	cursor: pointer;
}

#scroll-button:hover {
	background-color: white;
	color: #ED1C24;
}

#scroll-button:focus {
	outline: none;
}

#sub-menu {
	border: none;
	justify-content: space-between;
	margin: 5px 0 10px 0;
	padding: 0;
}
#sub-menu h3 {
	margin: 10px 0 20px 0;
}
#sub-menu a {
	color: #ED1C24;
}
#sub-menu a:hover {
	color: black;
}

@-webkit-keyframes slideUp {
	0% {bottom: -120px}
	85%{bottom: 20px}
	100%{bottom: 15px}
}
@-moz-keyframes slideUp {
	0%{bottom: -120px} 
	85%{bottom: 20px}
	100%{bottom: 15px}
}
@-o-keyframes slideUp {
	0%{bottom: -120px}
	85%{bottom: 20px}
	100%{bottom: 15px}
	}
@keyframes slideUp { 
	0%{bottom: -120px}
	85%{bottom: 20px}
	100%{bottom: 15px}
	}

/*CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL*/

* {box-sizing: border-box}
img {vertical-align: middle;}

/* Slideshow container */
.carousel {
	position: relative;
	margin: auto;
	background-color: black;
	grid-column-start: col-1-start;
	grid-column-end: col-2-end;
	min-width: 100%;
	height: 350px;
	overflow: hidden;
}

.mySlides {
	display: none;
}

.mySlides img, video {
	height: 350px;
	object-fit: cover;
	object-position: 50% 50%;
}

.mySlides video {
	width: 100%;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

.prev {
	left: 0;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);	
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 9px;
	width: 9px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.dots {
	grid-column-start: col-1-start;
	grid-column-end: col-2-end;
	justify-self: center;
	margin-top: 10px;
}

.active, .dot:hover {
	background-color: #717171;	
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

/*MEDIA QUERIES FOR RESPONSIVE DESIGN*/
@media screen and (max-width: 700px) {
	body {
		margin: 0;
		padding: 0 10% 0 10%;
		width: 100%;
		display: grid;
		grid-template-columns: [col-start] 1fr [col-end];
		grid-auto-rows: min-content;
	}

	nav {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: 0 0 10px 0;
		padding: 10px 0 5px 0;
		width: 100%;
	}

	.bio-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	.bio {
		display: flex;
		flex-direction: row;
		width: 100%;
		align-items: center;
		margin-bottom: 15px;
	}

	.bio p, #bio-pi p, #bio-pi h3 {
		margin: 5px 0 5px 15px;
	}

	.carousel {
		margin: 20px -13% 10px -13%;
	}

	.img-bio {
		height: 100px;
		width: 100px;
	}

	.map {
		justify-self: center;
		width: 100%;
		height: 400px;
		margin-top: 25px;
	}

	.nav-link {
		margin-right: 10px;
		padding-bottom: 5px;
	}

	.news {
		padding: 0;
	}

	#bio-pi {
		align-items: center;
		width: 100%;
		margin: 15px 0 30px 0;
	}
}

@media screen and (min-width: 1000px) {
	body {
		width: 800px;
	}
}

@media screen and (max-width: 1000px) {
	header {
		align-items: flex-start;
	}

	#corner-logo {
		width: 50%;
	}

	#crest {
		margin-top: 25px;
		max-height: 75px;
	}

	#logo {
		margin-top: 10px;
	}

	#sub-menu {
		flex-direction: column;
		font-size: 15px;
	}

	#sub-menu h3 {
		margin: 4px 0 10px 0;
	}
}
