body {
	width: 70vw;
	margin: 80px auto 80px auto;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	display: grid;
	grid-template-columns: [col-1-start] 60% [col-1-end col-2-start] auto [col-2-end];
	grid-auto-rows: min-content;
}

header, h2, .bio-container, .footer, .nav-container, .publications, .map, .single-col-layout {
	grid-column-start: col-1-start;
	grid-column-end: col-2-end;
}

h3 {
	margin-top: 15px;
}

h3 span {
    position: relative;
    padding: 0;
    padding-bottom: 5px;
    margin: 0;
}

h3 span:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    content: '';
    border-bottom: 2px solid #00ff00;
}

img {
	max-width: 100%;
}

p {
	word-break: break-word;
	overflow-wrap: break-word;
	word-wrap: break-word;
	line-height: 140%;
}

p a {
	text-decoration: underline;
}

p a:hover {
	border-bottom: solid 1px #00FF00;
}

.bio-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 30px;	
}

.bio, .bio p, .bio-pic {
	width: 150px;
}

.bio {
	display: flex;
	flex-direction: column;
	margin-right: 20px;
	font-size: 14px;
	line-height: 150%;
}

.bio-pic {
	height: 150px;
}

.footer {
	display: flex;
	padding-top: 30px;
	border-top: solid 6px black;
	margin-top: 30px;
	margin-bottom: 40px;
}

.ft-link {
	margin-right: 20px;
	font-size: 10pt;
}

.nav-container {
	display: flex;
	justify-content: space-between;
	margin: 40px 0 40px 0;
}

.nav-link, a {
	text-decoration: none;
	color: black;
}

.nav-link a:hover {
	border-bottom: solid 2px black;
	padding-bottom: 3px;
}

.intro {
	grid-column-start: col-1-start;
	grid-column-end: col-1-end;
}

.map {
	justify-self: center;
	width: 100%;
	height: 400px;
}

.news {
	grid-column-start: col-2-start;
	grid-column-end: col-2-end;
	padding-left: 50px;
}


/*CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL*/

* {box-sizing: border-box}
img {vertical-align: middle;}

/* Slideshow container */
.carousel {
	position: relative;
	margin: auto;
	background-color: black;
	grid-column-start: col-1-start;
	grid-column-end: col-2-end;
	min-width: 100%;
	height: 350px;
	overflow: hidden;
}

.mySlides {
	display: none;
}

.mySlides img, video {
	height: 350px;
	object-fit: cover;
	object-position: 50% 50%;
}

.mySlides video {
	width: 100%;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

/*Position the previous button on the left.*/
.prev {
	left: 0;
}

/* Position the next button to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);	
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 9px;
	width: 9px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.dots {
	grid-column-start: col-1-start;
	grid-column-end: col-2-end;
	justify-self: center;
	margin-top: 10px;
}

.active, .dot:hover {
	background-color: #717171;	
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

/*MEDIA QUERIES FOR RESPONSIVE DESIGN*/
@media screen and (max-width: 700px) {
	body {
		margin: 0;
		padding: 0 10% 0 10%;
		width: 100%;
		display: grid;
		grid-template-columns: [col-start] 1fr [col-end];
		grid-auto-rows: min-content;
	}

	.bio-container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 30px;	
	}

	.bio, .bio p, .bio-pic {
		width: 90px;
	}

	.bio-pic {
		height: 90px;
	}

	.carousel {
		margin: 20px -13% 10px -13%;
	}

	.map {
		justify-self: center;
		width: 100%;
		height: 400px;
		margin-top: 25px;
	}

	.nav-container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: 0;
	}

	.nav-link {
		margin-right: 10px;
		padding-bottom: 5px;
	}

	.news {
		padding: 0;
	}
}

@media screen and (min-width: 1000px) {
	body {
		width: 800px;
	}
}