<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.3.2/css/simple-line-icons.css">
		</head>
		<body>
			<nav>
				<h2><a href="/">BETHANY K. HUNG</a></h2>
			<right>
	    		<ul>
		        	<li><a href="/about">about</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">blog</a></li>
	    		</ul>
      			</right>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
			<center>
	    		<ul>
	        		<li><a href="mailto:bethany_hung@brown.edu"><i class = "icon-envelope"></i></a></li>
	        		<li><a href="https://www.linkedin.com/in/bethanyhung"><i class = "icon-social-linkedin"></i></a></li>
	        		<li><a href="https://www.facebook.com/seapancake"><i class = "icon-social-facebook"></i></a></li>
	        		<li><a href="https://github.com/bethanyhung"><i class = "icon-social-github"></i></a></li>
	        		<li><a href="http://www.nails-and-whales.blogspot.com"><i class = "icon-magic-wand"></i></a></li>
				</ul>
			</center>
			</footer>
		</body>
	</html>
