<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			<link rel="stylesheet" type="text/css" href="/css/test.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.3.2/css/simple-line-icons.css">
		</head>
		<body>
			<img class="imgCornerLogo" src="/imgs/yhack-logo-thickstroke.png">
    			<nav>
		    		<ul class="alignright">
		        		<li><a href="/articles">articles</a></li>
		        		<li><a href="/about">about</a></li>
		    		</ul>
			</nav>
			<div style="clear: both;"></div>
			<div class="container">
				<div class="col-md-6 col-md-offset-1">
					{{ content }}
				</div>
			
			</div><!-- /.container -->
		</body>
	</html>
